#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /* Professional CNG/LPG gradient - deep blue to dark industrial */
 background: linear-gradient(180deg, #357abd 0%, #0a0a0a 100%);
  box-shadow: inset 0 0 80px rgba(53, 122, 189, 0.25);

}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}